<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>boolZapp</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="css/style.css">


  <script src="https://cdn.jsdelivr.net/npm/vue"></script>


</head>

<body>
  <!-- Inizio HEADER -->
  <header>

  </header>

  <!-- Inizio MAIN -->
  <main id="root">

    <div class="sfondo_sup"></div>
    <div class="container">
      <!-- Sezione di sinistra -->
      <div class="aside-left">
        <!-- Nav di sinistra -->
        <div class="nav-left">

          <div class="user">
            <div class="img_user">
              <img src="img/avatar_io.jpg" alt="">
            </div>
            <div class="user_name">
              Nome Utente
            </div>
            <div class="user_icon">
              <i class="fas fa-circle-notch"></i>
              <i class="fas fa-comment-alt"></i>
              <i class="fas fa-ellipsis-v"></i>
            </div>
          </div>
        </div>
        <!-- Sezione Notifiche -->
        <div class="notifiche">

          <div class="notifiche-icon">
            <i class="fas fa-bell-slash"></i>
          </div>
          <div class="notifiche-testo">
            <h5>Ricevi notifiche di nuovi messaggi</h5>
            <a href="#">Attiva notifiche desktop</a>
          </div>

        </div>

        <!-- Sezione Ricerca Utente -->
        <div class="cerca_utente">
          <div class="area_ricerca">
            <!--  <div class="area_ricerca-icon"><i class="fas fa-search" style="color: grey;"></i></div> -->
            <div class="area_ricerca-input">
              <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="utenteDaCercare">
              <i v-if="utenteDaCercare !=='' " class="fas fa-times" @click="azzeraRicerca"></i>
            </div>

          </div>

        </div>
        <!--  -->
        <!-- Lista Utenti -->

        <div class="lista_utenti">
          <!-- Singolo Utente -->
          <div class="utente" v-for="(utente, indice) in ricerca()">

            <div class="card" @click="attivaChat(utente)">

              <div class="immagine">
                <img v-bind:src="utente.avatar" v-bind:alt="'immagine ' + (indice+1)">
              </div>

              <div class="utente_dati">
                <div class="name">
                  <h3>{{utente.name}}</h3>
                </div>
                <div class="subname">
                  <span>{{ getLastMessage(utente.messages) }}</span>
                </div>
                <div class="data">
                  <span>{{utente.messages.length === 0 ? "" : utente.messages[utente.messages.length - 1].timestamp}}</span>
                </div>
              </div>

            </div>
          </div>


        </div>



      </div>
      <!-- Sezione di destra -->
      <div class="chat-box">
        <!-- Nav di destra -->
        <div class="nav-right">
          <div class="user">
            <div class="img_user">
              <img :src="currentChat.avatar" alt="">
            </div>
            <div class="utente_chat">
              <div class="name">
                <h3>{{currentChat.name}}</h3>
              </div>
              <div class="ultimo accesso">
                <span>Ultimo accesso oggi alle </span>
                <span>{{currentChat.messages.length === 0 ? "" : currentChat.messages[currentChat.messages.length - 1].timestamp}}</span>

              </div>

            </div>
            <div class="user_icon">
              <i class="fas fa-search"></i>
              <i class="fas fa-paperclip"></i>
              <i class="fas fa-ellipsis-v"></i>
            </div>
          </div>

        </div>

        <div class="chat-area">

          <div class="chat-user" v-for="(mes,i in currentChat.messages" >


            <div class="testo-forma" :class="mes.status" >

              <p>{{mes.text}}</p>
              <span>{{mes.timestamp}}</span>

              <div id="icon" tabindex="0" @click="attiva(i)"><i class="fas fa-angle-down"></i>
              </div>

              <div id="popUPMenu" :style="classepopUP" >
                <a href="#" style="color:grey">Informazioni</a>
                <a href="#" @click="cancellaMessaggio(i)">Cancella</a>

                
              </div>


            </div>
          </div>


          <!-- 
            <div class="testo-forma sent">
              <p>Hai portato a spasso il cane</p>
              <span>10/01/2020 15:30:55</span>
            </div>
          

          
            <div class="testo-forma received">
              <p>Tutto a posto</p>
              <span>10/01/2020 16:15:22</span>
            </div> -->




        </div>

        <div class="chat-search">
          <div class="chat-search-left"><i class="far fa-smile"></i></div>
          <div class="chat-search-center">
            <input type="text" placeholder="Scrivi un messaggio" v-model="nuovoMessDiTesto" @click="changeIcon"
              @keyup.enter="sendNewMessage">
          </div>
          <div class="chat-search-right" @click="sendNewMessage"><i v-bind:class="iconMess"></i></div>

        </div>



      </div>


    </div>



  </main>

  <!-- Inizio FOOTER -->
  <footer>

  </footer>

  <script src="js/script.js"></script>

</body>

</html>